.banner {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 223px;

  &__image {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
    color: white;
    z-index: 2;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25),
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000,
    0 0 0 #000;
  }
}

.banner--darkened {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
  }
}
