@import '../utils/_variables';
@import '../utils/_mixins';

.card {
  max-width: 100%;
  height: 340px;
  background-color: $primary-color;
  border-radius: 10px;

  &__figure {
    margin: 0;
    height: 100%;
    @include flex-column;
    justify-content: space-between;
  }

  &__image {
    min-height: 260px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  &__figcaption {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: 25px;
    color: white;
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    height: 260px;

    &__image {
      min-height: 200px;
      height: 200px;
    }

    &__figcaption {
      font-size: $font-size-sm;
      line-height: 18px;
    }
  }

  @media (max-width: 475px) {
    height: 255px;

    &__image {
      height: 195px;
    }

    &__figcaption {
      font-size: $font-size-base;
      line-height: 25px;
    }
  }
}
