.collapse {
  display: flex;
  flex-direction: column;
  max-width: 1023px;
  width: 100%;
  margin-bottom: 25px;

  &__header {
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    z-index: 1
  }

  &__title {
    padding-left: 20px;
  }

  &__button {
    border: none;
    padding: 0;
    padding-right: 15px;
    border-radius: 0 5px 5px 0;
    background-color: #FF6060;
  }

  &__arrow {
    width: 32px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  &__arrow.rotate {
    transform: rotate(180deg);
  }

  &__content--open {
    border-radius: 5px;
    max-height: 500px;
    background-color: #F6F6F6;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out, max-height 0.3s ease-out;
    transform: translateY(0);
  }

  &__content--close {
    overflow: hidden;
    max-height: 0;
    background-color: white;
    transition: background-color 2s ease-in, transform 0.3s ease-in, max-height 0.3s ease-in;
    transform: translateY(-50px);
    z-index: -1;
  }

  &__content-text {
    padding: 20px;
  }
}
