@import '../utils/_mixins';
@import '../utils/_variables';

.footer {
  @include flex-column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 209px;
  color: white;

  &__logo {
    width: 122px;
    height: auto;
  }

  p {
    margin-top: 20px;
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
  }

  @media (max-width: 475px) {
    p {
      font-size: $font-size-xs;
    }
  }
}
