@import '../utils/_variables';

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  border-radius: 25px;
  gap: 30px;
  row-gap: 50px;
  padding: 50px;
  margin-bottom: 40px;
  place-items: center;

  &__link {
    text-decoration: none;
    max-width: 340px;
  }

    @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    background-color: $secondary-color;
    row-gap: 30px;
    margin-bottom: 40px;

    &__link {
      max-width: 340px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    align-content: space-between;
    gap: 30px;
    padding: 0;
    margin-bottom: 40px;

    &__link {
      min-width: 100%;
    }
  }

  @media (max-width: 475px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin-bottom: 20px;
  }
}
