.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px;

  &__logo {
    height: 68px;
  }
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 57px;
  font-weight: 500;
  font-size: 24px;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}
