@import '../utils/_variables';

.slideshow {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    aspect-ratio: 1240/415;
  }

  &__image.fade {
    animation: fade 0.5s ease;
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    color: white;
    left: 50%;
    font-size: $font-size-base;
    transform: translateX(-50%);
  }

  &__button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;

    &--prev {
      left: 10px;
      transform: rotate(-90deg);
    }

    &--next {
      right: 10px;
      transform: rotate(90deg);
    }

    img {
      width: 96px;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    &__image {
      height: 300px;
      border-radius: 10px;
    }

    &__button img {
      width: 50px;
    }
  }

  @media (max-width: 475px) {
    &__image {
      height: 255px;
    }

    &__counter {
      display: none;
    }

    &__button img {
      width: 24px;
    }
  }
}
