@import '../utils/_mixins';

.about-section {
  @include flex-column;
  align-items: center;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.banner--about::after {
  background-color: rgba(0, 0, 0, 0.3);
}
