@import '../utils/_mixins';
@import '../utils/_variables';

.error {
  @include flex-column;
  align-items: center;
  gap: 45px;
  margin: 45px;

  &__title {
    color: $primary-color;
    margin-bottom: 20px;
  }

  &__link {
    margin-bottom: 20px;
    color: black;
  }
}
