@import '../utils/_mixins';
@import '../utils/_variables';

.housing {
  @include flex-column;
}

.infos {
  @include flex-row;
  justify-content: space-between;
  margin-top: 40px;

  &__housing {
    @include flex-column;

    h2 {
      margin: 0;
      color: $primary-color;
      padding-bottom: 5px;
    }

    &-tags {
      @include flex-row;
      gap: 15px;
      margin-top: 20px;

      span {
        background-color: $primary-color;
        color: white;
        border-radius: 10px;
        padding: 5px 30px;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        letter-spacing: 0.3px;
      }
    }
  }

  &__host {
    @include flex-column;
    justify-content: space-around;
    align-items: flex-end;

    &-profile {
      @include flex-row;
      align-items: center;
      gap: 10px;

      p {
        color: $primary-color;
        white-space: pre-wrap;
        text-align: right;
      }

      img {
        width: 64px;
        border-radius: 90px;
      }
    }

    &-rating {
      display: flex;
      gap: 10px;
    }
  }
}

.description {
  @include flex-row;
  gap: 80px;
  margin: 25px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
