.housing {
  display: flex;
  flex-direction: column;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;

  &__housing {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
      color: #FF6060;
      padding-bottom: 5px;
    }

    &-tags {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-top: 20px;

      span {
        background-color: #FF6060;
        color: white;
        border-radius: 10px;
        padding: 5px 30px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.3px;
      }
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      p {
        color: #FF6060;
        white-space: pre-wrap;
        text-align: right;
      }

      img {
        width: 64px;
        border-radius: 90px;
      }
    }

    &-rating {
      display: flex;
      gap: 10px;
    }
  }
}
