// Components
@import './components/_header';
@import './components/_footer';
@import './components/_layout';

// Pages
@import './pages/_about';
@import './pages/_error';
@import './pages/_home';
@import './pages/_housing';

$primary-color: #FF6060;

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
