// Components
@import './components/_header';
@import './components/_footer';
@import './components/_layout';
@import './components/_card';
@import './components/_gallery';
@import './components/_banner';
@import './components/collapse';
@import './components/slideshow';

// Pages
@import './pages/_about';
@import './pages/_error';
@import './pages/_home';
@import './pages/_housing';

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 0 100px;
}

p {
  margin: 0;
  font-size: 18px;
}
