// Colors
$primary-color: #FF6060;
$secondary-color: #F6F6F6;

// Fonts
$font-family: 'Montserrat', sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 18px;
$font-size-lg: 24px;
$font-size-xl: 36px;
$font-size-xxl: 48px;
$font-weight-normal: 500;
$font-weight-bold: 700;
